body{
	background-color: black;
}

.main{
    background: white;
	margin-top: 110px;
	min-width: 1200px;
	padding-left: 100px;
	min-height: 500px;
	position: relative;
}

/*div {
	border-color: red;
	border-width: 1px;
	border-style: solid;
}

* {
  outline: red 1px solid;
}*/

.ryu {
float: left;
width: 600px;
display: table-cell;
margin-left: -120px;
}

.hadouken, 
.ryu-ready, 
.ryu-still, 
.ryu-throwing, 
.ryu-cool,
.ryu-target,
.cute-lady {
  background-repeat: no-repeat;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool, .ryu-target, .cute-lady {
	/*width: 659px;*/
    height: 494px;
}

.ryu-ready, 
.ryu-throwing, 
.ryu-cool, 
.cute-lady,
.ryu-target,
#fancylady {
  display: none;
} 

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  /*background-image: url('../images/ryu-cool.gif');*/
  background-image: url('../images/ryu-coolmoving.gif');
}

.ryu-target {
  background-image: url('../images/ryu-throwing-hadouken.png');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.cute-lady {
  background-image: url('../images/cute-cartoon-lady.jpg');
}


.ryu-cool {
  /*background-image: url('../images/ryu-cool.gif');*/
  background-image: url('../images/ryu-coolmoving.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 170px;
  left: -165px;
  float: left;
}

.text-content{
  position: absolute;
  height: 425px;
  width: 20%;
  padding-top: 50px;
  display: inline-block;
  left: 480px;
}

.text-content #click {
  /*font-family: 'Droid Sans', sans-serif;*/
  font-family: 'Sigmar One', cursive;
  line-height: 40px;
}

.text-content #press {
  font-family: 'Rock Salt', cursive;
  margin-top: 180px;
  line-height: 40px;
}

.text-content #fancylady {
  font-family: 'Droid Sans', sans-serif;
  line-height: 40px;
  margin-top: 50px;
  font-size: 20px;
}

.target-content{
  position: absolute;
  left: 800px;
  height: 425px;
  width: 600px;
  display: inline-block;
}


